header {
      display: flex;
}
header nav ul {
      display: flex;
      list-style: none;
      gap: 30px;
}
header nav {
      display: flex;
      margin-left: 60%;
      margin-top: 23px;
}
header nav ul li a :hover {
      border-bottom: 2px black;
}
